@import "tailwindcss";

@theme {
  /* colors */
  --color-background: #0f1117;
  --color-surface: #1e1f26;
  --color-primary: #4f46e5;
  --color-accent: #10b981;
  --color-primaryText: #f9fafb;
  --color-secondaryText: #a1a1aa;
  --color-error: #ef4444;
  --color-border: #2a2c35;
  --color-input: #1c1c1c;
  --color-amber: #f59e0b;

  /* breakpoint */
  --breakpoint-custom580: 580px;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-background);
}


.logo {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath fill='%234F46E5' d='M9.875 0a1 1 0 0 0-.406.156S8.204.952 6.844 1.813c-1.36.86-2.873 1.808-3.219 2l-.063.03C2.306 4.618 2.045 5.884 2 6.594c-.003.033 0 .06 0 .095c-.011.266 0 .437 0 .437v13.063C2 22.087 4.213 23 6.313 23c.7 0 1.4-.113 2-.313c.4-.2.687-.6.687-1v-10.5c0-2.3.5-3.38 2-4.28c.4-.2 4.594-3.095 4.594-3.095c.2-.2.406-.606.406-.906v-.094c0-.4-.2-.706-.5-.906s-.7-.2-1 0c-.1.1-6.2 4.207-7.5 4.907c-1.3.8-2.513.993-2.813.593c-.093-.093-.174-.378-.187-.656v-.063c.001-.272.071-.784.625-1.125c.562-.313 1.957-1.204 3.313-2.062c.573-.363.644-.402 1.093-.688A1 1 0 0 0 11 2.5V1a1 1 0 0 0-1.125-1m8 3.5a1 1 0 0 0-.438.188s-5.034 3.387-5.906 3.968l-.031.032c-.724.543-1.153 1.189-1.344 1.78A3.3 3.3 0 0 0 10 10.5v.313a1 1 0 0 0 0 .093V23c0 1.9 2.188 3 4.188 3c.9 0 1.712-.194 2.312-.594c1.2-.7 7-5.218 7-5.218c.3-.2.5-.482.5-.782v-13c0-.5-.194-.8-.594-1c-.3-.2-.793-.106-1.093.094c-1.6 1.2-5.907 4.588-6.907 5.188c-1.4.8-2.719 1-3.219.5c-.2-.2-.187-.388-.187-.688q.008-.26.063-.438c.056-.174.17-.388.593-.718c.02-.016.01-.015.031-.031c.723-.483 2.934-1.99 4.376-2.97A1 1 0 0 0 19 6V4.5a1 1 0 0 0-1.125-1M22 10.813v2l-5 3.874v-2z'/%3E%3C/svg%3E");
}

.google-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23ffc107' d='M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917'/%3E%3Cpath fill='%23ff3d00' d='m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691'/%3E%3Cpath fill='%234caf50' d='M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44'/%3E%3Cpath fill='%231976d2' d='M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917'/%3E%3C/svg%3E");
}



@utility f-c-row {
  @apply flex justify-center items-center;
}

@utility f-c-col {
  @apply flex flex-col justify-center items-center;
}

@layer components {
  .primary-btn {
    @apply rounded-xl px-3 py-2 bg-radial from-primary to-primary/60 text-primaryText active:transform active:scale-90 transition-all text-base font-bold cursor-pointer duration-300 f-c-row;
  }
  .sec-btn {
    @apply rounded-xl px-3 py-2 bg-radial from-primaryText to-primaryText/60 text-background text-sm font-bold cursor-pointer hover:bg-primaryText/80 transition-colors duration-300 f-c-row;
  }
  .navbar {
    @apply rounded-3xl border border-white/10 backdrop-blur-xl bg-surface mt-10 w-[80%] px-3 py-3 md:px-7 md:py-5 f-c-row justify-between;
  }
  .nav-link {
    @apply text-secondaryText max-md:hidden hover:text-primaryText transition-colors duration-300;
  }
  .side-nav-link {
    @apply text-primaryText text-2xl px-3 py-4 border-y border-y-white/10 w-full f-c-row justify-between md:hidden;
  }
  .header {
    @apply f-c-col gap-5;
  }
  .mockup {
    @apply w-[350px] h-[300px] max-md:bg-center md:w-[1500px] md:h-[800px] mt-10 rounded-2xl brightness-90 bg-transparent flex bg-[url("../public/images/mockup.png")] bg-cover;
  }
  .features-card {
    @apply rounded-3xl w-[350px] h-[300px] md:w-[600px] md:h-[400px] f-c-col gap-2 px-3 py-3 bg-surface hover:shadow-lg transition-shadow duration-300 shadow-primary;
  }
  .how-it-works-card {
    @apply rounded-3xl w-[350px] h-[300px] px-3 py-3;
  }
  .pricing-card {
    @apply rounded-3xl px-3 py-3 w-[350px] h-[350px] bg-gradient-to-b from-primary/20 to-black;
  }
  .cta {
    @apply rounded-3xl p-5 md:px-10 md:py-6 bg-surface flex flex-col gap-7 md:items-center md:flex-row md:justify-between w-[80%];
  }
  .footer {
    @apply w-full min-h-[300px] p-7 md:px-16 md:pt-16 pb-3 rounded-2xl bg-surface/50 f-c-col gap-20;
  }
  .input {
    @apply px-3 py-2 bg-gradient-to-b from-background to-white/10 appearance-none text-primaryText/90 focus:outline-none border border-white/30 focus:border-secondaryText focus:shadow-sm shadow-secondaryText active:scale-[0.98] transition-transform duration-300 rounded-lg;
  }
  .analytics-card {
    @apply bg-gradient-to-b from-primaryText/10 via-surface/60 to-surface/20 rounded-xl px-5 py-3 w-[300px] h-[250px] lg:w-[400px] lg:h-[300px] xl:w-[500px] xl:h-[350px] flex flex-col col-span-2 row-span-2;
  }
}
